{% extends "base.html" %}

{% block title %} Contact Page {% endblock %}

{% block container %}
<h1>გაქვთ კითხვები?</h1><br>
<h3>დაგვიკავშირდით:</h3>
<h3>ტელ: 551234567</h3>
<h3>მეილი: ShopInfo@gmail.com</h3>
<h3>მდებარეობა: გამარჯვება ცენტრალის ქუჩა 3</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3536.434783667763!2d44.997465!3d41.64884199999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDHCsDM4JzU1LjgiTiA0NMKwNTknNTAuOSJF!5e1!3m2!1sen!2sge!4v1765475049116!5m2!1sen!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}